* {
	overflow: hidden;
}
div, body {
	margin: 0; padding: 0; border: 0;
    font-family: 'Open Sans', sans-serif;
}

.vno-video {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
